<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogFile="internal-nlog.log">

  <variable name="DefaultLayout"
            value="TID:${threadid} ${longdate} ${level:upperCase=true} ${logger} ${message} ${onexception:(${stacktrace:topFrames=10}) ${exception:format=ToString}}" />

  <targets async="true">
    <target name="debuglogfile" xsi:type="File" fileName="debug.log" layout="${DefaultLayout}" />
    <target name="normallogfile" xsi:type="File" fileName="log.log" layout="${DefaultLayout}" />
    <target name="logconsole" xsi:type="Console" layout="${DefaultLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="debuglogfile" />
    <logger name="*" minlevel="Info" writeTo="normallogfile" />
  </rules>
</nlog>